 CSS Document */

 /* work-sans-100 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/work-sans-v3-latin-100.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Thin'), local('WorkSans-Thin'),
         url('/assets/fonts/work-sans-v3-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-100.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-100.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-200 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/work-sans-v3-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Work Sans ExtraLight'), local('WorkSans-ExtraLight'),
         url('/assets/fonts/work-sans-v3-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-200.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-200.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-300 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/work-sans-v3-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Light'), local('WorkSans-Light'),
         url('/assets/fonts/work-sans-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-300.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-300.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-regular - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/work-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Work Sans'), local('WorkSans-Regular'),
         url('/assets/fonts/work-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-500 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/work-sans-v3-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Medium'), local('WorkSans-Medium'),
         url('/assets/fonts/work-sans-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-500.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-500.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-600 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/work-sans-v3-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
         url('/assets/fonts/work-sans-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-600.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-700 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/work-sans-v3-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Bold'), local('WorkSans-Bold'),
         url('/assets/fonts/work-sans-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-800 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/work-sans-v3-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'),
         url('/assets/fonts/work-sans-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-800.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-800.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-900 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/work-sans-v3-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Black'), local('WorkSans-Black'),
         url('/assets/fonts/work-sans-v3-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/work-sans-v3-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-900.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/work-sans-v3-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/work-sans-v3-latin-900.svg#WorkSans') format('svg'); /* Legacy iOS */
  }











html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif !important;

}
body {
  /*background-color:#000000 !important;*/
    min-height: 100vh !important;
   

}
#wrapper {
  margin: auto;
  height: auto;
  max-width: 1152px;
  /*min-height: 100vh;*/
  height: 100%;
  padding: 0;
  background-color: #FFF;
  z-index: 1;
}
#wrapper .navbar {
  background: #20b1cb;
}
.ui-tabs-panel {
    position: relative;
    min-height: calc(100vh - 45px);
    padding: 12px 10px 40px 10px !important;
}
.ui-dialog.setup-dialog {
    z-index: 3100 !important;
}
#items {
    min-height: 300px;
}
#totals {
    width:calc(100% - 13px);
    margin-top:50px;
    /*margin-bottom: 20px;*/
    position: absolute;
    /*top:410 !important;*/
    /*bottom: 0;*/
}




#loginmodal {
    position:absolute;
    left:0;
    top:0;
    right: 0;
    width:100%;
    height:100vh;
    background-color:#237a1b !important;
    z-index: 1000;
    overflow: auto;
}
#loginbox {
    width: 400px;
    height: 380px;
    left:50%;
    margin-left:-200px;
    margin-top: 60px;
    text-align: center;
}
#loginbox .widget-main {
    padding: 16px 20px 20px;
    min-height: 100%;
}
#loginbox .input-icon {
    max-width: 320px;
    margin: 0 auto;
}
#login-banner {
    padding: 10px 12px !important;
    margin-bottom: 0 !important;
}
#reportcontain {
    border: solid 1px #ccc;
    width: 100%;
    max-width: 550px;
    /*min-width: 480px;*/
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    min-height: 500px;
    overflow-x: auto !important;
}

.modal-header, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 25px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.registration tr {
    /*display: inline-block;*/
}
.totalsbox {
    display: inline-block;
    max-width: 400px;
}
.totalslabel{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
}
.totalsval {
    font-size: 16px;
    width: 120px;
    display: inline-block;
}
.logout_btn {
    height: 45px;
    overflow: hidden;
}
.toolbarbtn {
    width:45px;
    height:45px;
    display:inline-block;
    margin-left:8px;
    margin-bottom:8px !important;
    font-size: 14px !important;
    text-align: center;
}
.regbtn {
    width:75px;
    height:45px;
    display:inline-block;
    margin-left:8px;
    margin-bottom:8px !important;
    font-size: 13px !important;
    text-align: center;
}
.small-button {
    font-size: 14px !important;
    height: 30px;
    margin:0;
}
.settings-row {
    margin: 10px;
}
.inline {
    display: inline-block;
}
.settings-row label label {
    display: inline-block;
}
.fixedlabel {
    min-width:80px;
}
#regkey-inner {
    display:inline-block;
    width:160px;
    vertical-align:top;
}
#regkey-container {
    display:inline-block;
    width:160px;
    vertical-align:top;
    float: right;
}
.panel-body {
    padding: 0 !important;
}
#ibox {
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    width: 0;
    max-width: 450px;
    margin-bottom: 38px;
    overflow: visible !important;
    overflow-x: visible !important; /* Needed for when overflow is overridden */
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: !important 400;
    font-size: !important 16px;

}
#iboxhandle {
    position: absolute;
    width: 30px;
    height: 45px;
    top:5px;
    margin-left: -30px;
    line-height: 45px;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: ew-resize;
}
#iboxitem_contain {
    position: relative;
    min-width: 0;
    height: 100%;
    /*background-color: white;*/
    overflow-x: hidden !important;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight:!important 400;
    font-size: !important 16px;

}
#iboxitems {
    background-color: rgba(66, 139, 202, 0.45);
    margin-top: 5px;
    border-left:5px solid #428BCA;
    margin-bottom: 0px;
    height:calc(100vh - 85px);
    overflow-y: scroll;
    overflow-x: hidden !important;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight:!important 400;
    font-size: !important 16px;


}
.iboxitem {
    width: 134px;
    height: 134px;
    border: 2px solid #428BCA;
    border-radius: 4px;
    display: inline-block;
    background-color: #FFFFFF;
    margin: 4px;
    /*color:#FFF;*/
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: !important 400;
    font-size:!important 16px;

}
.iboxitem .name {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 3px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: !important 400;
    font-size: !important 16px;

    
    
}
.iboxitem .price {
  color:#bf211c;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  font-weight: 400; 
  font-size: 14px;


}
/*.iboxitem .price:hover {
  color:#ffffff;
}*/
.iboxitem:hover {
  background-color: #69a9e8;
  color: #ffffff;
  border-radius: 8px;
}
.ui-tabs .ui-tabs-nav li a {
    height: 44px !important;
    padding-top: 12px !important;
}
.navbar {
    border-bottom: 0 !important;
}
/* For android scanner */
.rotate {
    margin-bottom: 60px;
    behavior: url(-ms-transform.htc);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* IE9 */
    -ms-transform: rotate(90deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1);";
}
.field-button {
    height: 33px !important;
    margin-bottom: 4px !important;
}
.field-button-attach {
    margin-left: -4px !important;
}


  


#watermark {
    content : "";
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px;
    width: 99.5%;
    height: 99%;
    opacity : 0.2;
    z-index: -1;
}
.ui-autocomplete li {
    overflow-x: hidden !important;
}
.ui-autocomplete {
    max-height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
}
.infobox {
    display: inline-block;
    width: 250px;
    height: 66px;
    color: #555;
    background-color: #FFF;
    box-shadow: none;
    border-radius: 0;
    margin: -1px 0 0 -1px;
    padding: 8px 3px 6px 9px;
    border: 1px dotted;
    border-color: #D8D8D8 ;
    vertical-align: middle;
    text-align: left;
    position: relative;
  }

  .infobox > .infobox-icon {
    display: inline-block;
    vertical-align: top;
    width: 44px;
  }


  .infobox > .infobox-icon > [class*="icon-"] {
    display: inline-block;
    height: 42px;
    margin: 0;
    padding: 1px 1px 0 2px;
    background-color: transparent;
    border: none;
    text-align: center;
    position: relative;
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  }
  .infobox > .infobox-icon > [class*="icon-"]:before {
    font-size: 24px;
    display: block;
    padding: 6px 0 7px;
    width: 40px;
    text-align: center;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
  }
  .infobox .infobox-content {
    color: #555;
  }

  .infobox .infobox-content:first-child {
    /* like in small infoboxes that have no number data etc */
  
    font-weight: bold;
  }
  .infobox > .infobox-data {
    display: inline-block;
    border: none;
    border-top-width: 0;
    font-size: 13px;
    text-align: left;
    line-height: 21px;
    min-width: 130px;
    padding-left: 8px;
    position: relative;
    top: 0;
  }
  .infobox > .infobox-data > .infobox-data-number {
    display: block;
    font-size: 22px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  }
  .infobox > .infobox-data > .infobox-text {
    display: block;
    font-size: 16px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: none;
  }
  .infobox.no-border {
    border: none ;
  }
  @media only screen and (max-width: 460px) {
    .infobox {
      min-width: 95%;
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  .infobox-purple {
    color: #6f3cc4;
    border-color: #6f3cc4;
  }
  .infobox-purple > .infobox-icon > [class*="icon-"] {
    background-color: #6f3cc4;
  }
  .infobox-purple.infobox-dark {
    background-color: #6f3cc4;
    border-color: #6f3cc4;
  }
  .infobox-purple2 {
    color: #5f47b0;
    border-color: #5f47b0;
  }
  .infobox-purple2 > .infobox-icon > [class*="icon-"] {
    background-color: #5f47b0;
  }
  .infobox-purple2.infobox-dark {
    background-color: #5f47b0;
    border-color: #5f47b0;
  }
  .infobox-pink {
    color: #cb6fd7;
    border-color: #cb6fd7;
  }
  .infobox-pink > .infobox-icon > [class*="icon-"] {
    background-color: #cb6fd7;
  }
  .infobox-pink.infobox-dark {
    background-color: #cb6fd7;
    border-color: #cb6fd7;
  }
  .infobox-blue {
    color: #6fb3e0;
    border-color: #6fb3e0;
  }
  .infobox-blue > .infobox-icon > [class*="icon-"] {
    background-color: #6fb3e0;
  }
  .infobox-blue.infobox-dark {
    background-color: #6fb3e0;
    border-color: #6fb3e0;
  }
  .infobox-blue2 {
    color: #3983c2;
    border-color: #3983c2;
  }
  .infobox-blue2 > .infobox-icon > [class*="icon-"] {
    background-color: #3983c2;
  }
  .infobox-blue2.infobox-dark {
    background-color: #3983c2;
    border-color: #3983c2;
  }
  .infobox-blue3 {
    color: #1144eb;
    border-color: #1144eb;
  }
  .infobox-blue3 > .infobox-icon > [class*="icon-"] {
    background-color: #1144eb;
  }
  .infobox-blue3.infobox-dark {
    background-color: #1144eb;
    border-color: #1144eb;
  }
  .infobox-red {
    color: #d53f40;
    border-color: #d53f40;
  }
  .infobox-red > .infobox-icon > [class*="icon-"] {
    background-color: #d53f40;
  }
  .infobox-red.infobox-dark {
    background-color: #d53f40;
    border-color: #d53f40;
  }
  .infobox-brown {
    color: #c67a3e;
    border-color: #c67a3e;
  }
  .infobox-brown > .infobox-icon > [class*="icon-"] {
    background-color: #c67a3e;
  }
  .infobox-brown.infobox-dark {
    background-color: #c67a3e;
    border-color: #c67a3e;
  }
  .infobox-wood {
    color: #7b3f25;
    border-color: #7b3f25;
  }
  .infobox-wood > .infobox-icon > [class*="icon-"] {
    background-color: #7b3f25;
  }
  .infobox-wood.infobox-dark {
    background-color: #7b3f25;
    border-color: #7b3f25;
  }
  .infobox-light-brown {
    color: #cebea5;
    border-color: #cebea5;
  }
  .infobox-light-brown > .infobox-icon > [class*="icon-"] {
    background-color: #cebea5;
  }
  .infobox-light-brown.infobox-dark {
    background-color: #cebea5;
    border-color: #cebea5;
  }
  .infobox-orange {
    color: #e8b110;
    border-color: #e8b110;
  }
  .infobox-orange > .infobox-icon > [class*="icon-"] {
    background-color: #e8b110;
  }
  .infobox-orange.infobox-dark {
    background-color: #e8b110;
    border-color: #e8b110;
  }
  .infobox-orange2 {
    color: #f79263;
    border-color: #f79263;
  }
  .infobox-orange2 > .infobox-icon > [class*="icon-"] {
    background-color: #f79263;
  }
  .infobox-orange2.infobox-dark {
    background-color: #f79263;
    border-color: #f79263;
  }
  .infobox-green {
    color: #9abc32;
    border-color: #9abc32;
  }
  .infobox-green > .infobox-icon > [class*="icon-"] {
    background-color: #9abc32;
  }
  .infobox-green.infobox-dark {
    background-color: #9abc32;
    border-color: #9abc32;
  }
  .infobox-green2 {
    color: #0490a6;
    border-color: #0490a6;
  }
  .infobox-green2 > .infobox-icon > [class*="icon-"] {
    background-color: #0490a6;
  }
  .infobox-green2.infobox-dark {
    background-color: #0490a6;
    border-color: #0490a6;
  }
  .infobox-grey {
    color: #999999;
    border-color: #999999;
  }
  .infobox-grey > .infobox-icon > [class*="icon-"] {
    background-color: #999999;
  }
  .infobox-grey.infobox-dark {
    background-color: #999999;
    border-color: #999999;
  }
  .infobox-black {
    color: #393939;
    border-color: #393939;
  }
  .infobox-black > .infobox-icon > [class*="icon-"] {
    background-color: #393939;
  }
  .infobox-black.infobox-dark {
    background-color: #393939;
    border-color: #393939;
  }
  .infobox-dark {
    margin: 1px 1px 0 0;
    border-color: transparent !important;
    border: none;
    color: #FFF;
    padding: 4px;
  }
  .infobox-dark > .infobox-icon > [class*="icon-"],
  .infobox-dark > .infobox-icon > [class*="icon-"]:before {
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    font-size: 30px;
  }
  .infobox-dark > .infobox-icon > [class*="icon-"]:before {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .infobox-dark .infobox-content {
    color: #FFF;
  }
  .infobox {
    /* stat trend indicators and badges */
  
  }

  .infobox > .infobox-progress {
    padding-top: 0;
    display: inline-block;
    vertical-align: top;
    width: 44px;
  }
  .infobox > .infobox-chart {
    padding-top: 0;
    display: inline-block;
    vertical-align: text-bottom;
    width: 44px;
    text-align: center;
  }
  .infobox > .infobox-chart > .sparkline {
    font-size: 24px;
  }
  .infobox > .infobox-chart canvas {
    vertical-align: middle !important;
  }
  .infobox > .stat {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 11px;
    text-shadow: none;
    color: #ABBAC3;
    font-size: 13px;
    font-weight: bold;
    padding-right: 18px;
    padding-top: 3px;
  }
  .infobox > .stat:before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 11px;
    background-color: #ABBAC3;
    position: absolute;
    right: 4px;
    top: 7px;
  }
  .infobox > .stat:after {
    display: inline-block;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
    border: 12px solid transparent;
    border-width: 8px 7px;
    border-bottom-color: #ABBAC3;
  }
  .infobox > .stat.stat-success {
    /*pointing up*/
  
    color: #77C646;
  }
  .infobox > .stat.stat-success:before {
    background-color: #77C646;
  }
  .infobox > .stat.stat-success:after {
    border-bottom-color: #77C646;
  }
  .infobox > .stat.stat-important {
    /*pointing down*/
  
    color: #E4564F;
  }
  .infobox > .stat.stat-important:before {
    background-color: #E4564F;
    top: 3px;
  }
  .infobox > .stat.stat-important:after {
    border-top-color: #E4564F;
    border-bottom-color: transparent;
    bottom: -6px;
    top: auto;
  }
  .infobox.infobox-dark > .stat {
    color: #FFF;
  }
  .infobox.infobox-dark > .stat:before {
    background-color: #E1E5E8;
  }
  .infobox.infobox-dark > .stat:after {
    border-bottom-color: #E1E5E8;
  }
  .infobox.infobox-dark > .stat.stat-success {
    color: #FFF;
  }
  .infobox.infobox-dark > .stat.stat-success:before {
    background-color: #D0E29E;
  }
  .infobox.infobox-dark > .stat.stat-success:after {
    border-bottom-color: #D0E29E;
  }
  .infobox.infobox-dark > .stat.stat-important {
    color: #FFF;
  }
  .infobox.infobox-dark > .stat.stat-important:before {
    background-color: #FF8482;
    top: 3px;
  }
  .infobox.infobox-dark > .stat.stat-important:after {
    border-top-color: #FF8482;
    border-bottom-color: transparent;
    bottom: -6px;
    top: auto;
  }
  .infobox > .badge {
    position: absolute;
    right: 20px;
    top: 11px;
    border-radius: 0;
    text-shadow: none;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    height: 16px;
    padding: 0 1px;
  }
  .infobox.infobox-dark > .badge {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid #F1F1F1;
    top: 2px;
    right: 2px;
  }


#transactioninfo {
    max-width: 800px;
}
.tabbable ul.nav {
  margin:0px;
}
#transactiontable_processing {
    display: none;
}

#transactiontable_wrapper .col-sm-12 {
    padding: 0;
}

#transactiontable .table-header {
    font-size: 13px;
}

#totals-container {
    display:inline-block;
    max-width:450px;
    vertical-align:top;
}
#refresh {
    position: absolute;
    top:10px;
    right:20px;
    z-index:100;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    #window_width_toggle {
        display: none;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #admin-cog {
        margin-right:0 !important;
        margin-left:0;
    }
    .hlabel {
        width: 100px;
    }
    #loginbox {
        width: 350px;
        margin-left:-175px;
    }
    #ibox {
        max-width: 300px;
    }
    #iboxitems {
        width: 100%;
        margin-left: 0;
        border-left:none;
        height: auto;
        border-top:5px solid #428BCA; 
    }
    #totals {
      position: relative;
    }
    .table-responsive {
      border: none !important;
    }
    #codeInput {
      margin-bottom: 5px;
    }
    /*.til-btns button {
      width:auto !important;
    }*/
    #transactioninfo {
        max-width: 96%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #admin-cog {
        margin-right:0 !important;
        margin-left:0;
    }
    .hlabel {
        width: 95px;
    }
    #loginbox {
        width: 100%;
        left: 0;
        padding: 5px;
        margin-left: 0;
    }
    .settings-row label label {
        min-width: 70px;
    }
    #ibox {
        max-width: 160px;
    }
    #iboxitems {
      width: 100%;
      margin-left: 0;
      border-left:none;
      height: auto;
      border-top:5px solid #428BCA; 
    }
    #totals {
      position: relative;
    }
    .table-responsive {
      border: none !important;
    }
    #codeInput {
      margin-bottom: 5px;
    }
    
    .ui-dialog {
        width: 100% !important;
    }
}

@media only screen and (max-width: 630px) {
    #regkey-container {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
}
/*Added by Joe*/
/*admin btn on navbar*/
#admin-cog {
  margin-right:100px;
}
/*Till, process, abort btns*/
.til-btns button{
    /*margin:5px 10px;*/
    margin-bottom: 5px;
    margin-top: 5px;
    height:50px;
    /*padding:0;*/
    /*padding-left:5px;*/
}
.payment-btn button {
  margin-top:10px;
  /*padding:5px;*/
}
#cashierBtns {
  padding-left:0px;
  padding-right:0px;
}
.process-btn button{
    /*margin:5px;*/
}

.taxinfo{
    font-weight: 100;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic


}
.subtotals{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;

}
.endorsement{
  font-weight: 200;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;

}

.total-bill {
    font-weight: 600;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;

}
.active-item {
  background-color: rgba(151, 193, 228, 0.45);
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 6px 0;
}
/*Login modal styles*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-page .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-page .form button:hover,.login-page .form button:active,.login-page .form button:focus {
  background: #43A047;
}
.login-page .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-page .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login-page .form .register-form {
  display: none;
}
/**
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
*/

/*Tabs styles -Joe*/

#tab1primary,
#tab4primary {
  height: calc(100vh - 85px) !important;
  padding-top:15px;
}
#tab2primary {
  padding:20px 10px;
}
#tabs3 {
  height: 100vh !important;
  padding-top:-15px;
}
.ui-dialog-title {
  font-size: 20px;
  margin:10px 15px !important;
}
.ui-dialog-titlebar, .ui-dialog-header {
  padding:10px;
}
.panel {
  margin-bottom: 0px !important;
}
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/*******************************************************************